
.notFound{
  background-color: var(--background-page-primary-alt);
}

.notFoundPage{
    position: absolute;
    top: 0;
    left: 0;
    width: var(--deviceWidth);
    height: 100vh;
    overflow: hidden;
}

.notFoundContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: var(--deviceWidth);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    gap: 24px;
}


.fuzzyTextContainer {

}

.curvedLoopContainer{
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  
  max-width: 1400px;
  overflow: hidden;
  fill: var(--primary-260);
  opacity: 0.2;
}


/* tekst w zapetaniu */
.curvedLoopContainer{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: var(--deviceWidth);
    height: 100vh;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    border-radius: 32px;
    
}




.curvedLoop{
  font-variation-settings: 'GRAD' 72, 'wdth' 151, 'wght' 900, 'opsz' 60;
  letter-spacing: -0.01em;
  line-height: 115%;

}




.curvedLoopJacket {
  margin-top: 79vh;
  min-height: max-content;
  /* min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; */
}.curvedLoopSvg {
    aspect-ratio: 100/ 8;
    font-size: 148px;
  /* user-select: none;
  width: var(--deviceWidth);
  aspect-ratio: 100 / 12;
  overflow: visible;
  display: block;
  font-size: 4rem;
  fill: #ffffff;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1; */
}


.notFoundTextContainer{
  margin-top: 24px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  gap: 16px;

  color: var(--primary-230);
  text-align: center;
}

.notFoundTitle{
  font-size: 32px;
  font-weight: 700;
}

.notFoundSubtitle{
  font-size: 20px;
  font-weight: 400;
  color: var(--primary-430);
}

.notFoundBtn{
  
}