.navbar {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    /* border: 1px solid blue; */
    border-radius: 6px;


    /* tymczasowo  */

}

.navbarWrapper{
    position: relative;
    /* margin: 8px; */
    margin-top: 8px;
    /* border: 1px solid rgb(255, 0, 0); border-radius: 4px; */
    display: flex;
    justify-content: space-between;
    width: calc(100vw - 16px - 16px);
    max-width: 1400px;
    gap: 8px;

    /* gap: 8px; */

    /* position: relative;
    margin: 8px;
    max-width: 900px;
    width: calc(100vw - 2 * 16px);
    background-color: hsl(var(--primary-830-hsl)/0.5);
    padding: 6px;
    border: 1px solid transparent;
    border-color: hsl(var(--primary-900-hsl)/0.15);
    -webkit-backdrop-filter: blur(32px);
    backdrop-filter: blur(32px);
    border-radius: 32px; */
}.navbarWrapper{
    /* max-width: unset;
    height: calc(100vh - 2 * 16px); */
}
.navbarPillWrapper{
    /* margin-inline: 8px; */
    display: flex;
    gap: 8px;
}
.navbarPillContainer{
    display: flex;
    align-items: center;


    padding: 2px;
    border: 1px solid transparent;
    border-radius: 48px;

    background-color: hsl(var(--primary-900-hsl)/0.5);
    border-color: hsl(var(--primary-900-hsl)/0.1);
    -webkit-backdrop-filter: blur(32px);
    backdrop-filter: blur(32px);
    

}

.navbarTitleContainer{
    margin-inline: 6px;
    display: flex;
    gap: 4px;
}.navbarTitle{
    display: flex;
    font-size: 16px;
    color: var(--primary-230);
    font-weight: 700;
}.NavbarTitleIcon{
    width: auto;
    height: 20px;
}



.navbarBtn{
    display: flex;
    align-items: center;

    padding: 4px 8px;
    padding-right: 6px;
    gap: 4px;
    border-radius: 32px;
    border: 1px solid transparent;
    background-color: transparent;


    &:hover{
        background-color: hsl(var(--primary-100-hsl)/0.06);
        border-color: hsl(var(--primary-100-hsl)/0.08);
    }&:active{
        background-color: hsl(var(--primary-100-hsl)/0.12);
        border-color: hsl(var(--primary-100-hsl)/0.16);
    }
}
.navbarBtnIcon{

}.navbarBtnIcon{
    display: flex;
    & svg{
    fill: var(--primary-260);
    }
}
.navbarBtnText{
    font-size: 14px;
    color: var(--primary-260);
    font-weight: 400;
}

/* user pill */

.navbarUtilsPill{
    display: flex;
    align-items: center;
    gap: 8px;

    margin-inline: 6px;


    font-size: 12px;
    color: var(--primary-260);
    font-weight: 500;
}