
/* tło */
:root{
--primary-100: hsl(var(--primary-100-hsl) / 1);
--primary-100-hsl: 20 calc(var(--saturation-factor, 1) * 0%) 97.6%;

--primary-130: hsl(var(--primary-130-hsl) / 1);
--primary-130-hsl: 20 calc(var(--saturation-factor, 1) * 0.5%) 95.5%;

--primary-160: hsl(var(--primary-160-hsl) / 1);
--primary-160-hsl: 20 calc(var(--saturation-factor, 1) * 0.6%) 93%;

--primary-200: hsl(var(--primary-200-hsl) / 1);
--primary-200-hsl: 20 calc(var(--saturation-factor, 1) * 0.7%) 90%;

--primary-230: hsl(var(--primary-230-hsl) / 1);
--primary-230-hsl: 20 calc(var(--saturation-factor, 1) * 0.8%) 87%;

--primary-260: hsl(var(--primary-260-hsl) / 1);
--primary-260-hsl: 20 calc(var(--saturation-factor, 1) * 0.9%) 83.7%;

--primary-300: hsl(var(--primary-300-hsl) / 1);
--primary-300-hsl: 20 calc(var(--saturation-factor, 1) * 1%) 78.8%;

--primary-330: hsl(var(--primary-330-hsl) / 1);
--primary-330-hsl: 20 calc(var(--saturation-factor, 1) * 1%) 73.3%;

--primary-345: hsl(var(--primary-345-hsl) / 1);
--primary-345-hsl: 20 calc(var(--saturation-factor, 1) * 1%) 67.4%;

--primary-360: hsl(var(--primary-360-hsl) / 1);
--primary-360-hsl: 20 calc(var(--saturation-factor, 1) * 1%) 61.2%;

--primary-400: hsl(var(--primary-400-hsl) / 1);
--primary-400-hsl: 20 calc(var(--saturation-factor, 1) * 1%) 52.9%;

--primary-430: hsl(var(--primary-430-hsl) / 1);
--primary-430-hsl: 20 calc(var(--saturation-factor, 1) * 1%) 44.9%;

--primary-460: hsl(var(--primary-460-hsl) / 1);
--primary-460-hsl: 20 calc(var(--saturation-factor, 1) * 1%) 38%;

--primary-500: hsl(var(--primary-500-hsl) / 1);
--primary-500-hsl: 20 calc(var(--saturation-factor, 1) * 1%) 32.5%;

--primary-530: hsl(var(--primary-530-hsl) / 1);
--primary-530-hsl: 20 calc(var(--saturation-factor, 1) * 1%) 27.3%;

--primary-560: hsl(var(--primary-560-hsl) / 1);
--primary-560-hsl: 20 calc(var(--saturation-factor, 1) * 1%) 23.5%;

--primary-600: hsl(var(--primary-600-hsl) / 1);
--primary-600-hsl: 20 calc(var(--saturation-factor, 1) * 1%) 20.6%;

--primary-630: hsl(var(--primary-630-hsl) / 1);
--primary-630-hsl: 20 calc(var(--saturation-factor, 1) * 1%) 18%;

--primary-645: hsl(var(--primary-645-hsl) / 1);
--primary-645-hsl: 20 calc(var(--saturation-factor, 1) * 1%) 16.8%;

--primary-660: hsl(var(--primary-660-hsl) / 1);
--primary-660-hsl: 20 calc(var(--saturation-factor, 1) * 1%) 14.7%;

--primary-700: hsl(var(--primary-700-hsl) / 1);
--primary-700-hsl: 20 calc(var(--saturation-factor, 1) * 1%) 12.5%;

--primary-730: hsl(var(--primary-730-hsl) / 1);
--primary-730-hsl: 20 calc(var(--saturation-factor, 1) * 1%) 11%;

--primary-760: hsl(var(--primary-760-hsl) / 1);
--primary-760-hsl: 20 calc(var(--saturation-factor, 1) * 1%) 9.2%;

--primary-800: hsl(var(--primary-800-hsl) / 1);
--primary-800-hsl: 20 calc(var(--saturation-factor, 1) * 1%) 7.3%;

--primary-830: hsl(var(--primary-830-hsl) / 1);
--primary-830-hsl: 20 calc(var(--saturation-factor, 1) * 0.8%) 4.9%;

--primary-860: hsl(var(--primary-860-hsl) / 1);
--primary-860-hsl: 20 calc(var(--saturation-factor, 1) * 0.6%) 2.5%;

--primary-900: hsl(var(--primary-900-hsl) / 1);
--primary-900-hsl: 20 calc(var(--saturation-factor, 1) * 0%) 0.8%;
}

/* tło ciepłe/ sandpaper style */
.sandpaper-colors{
--primary-100: hsl(var(--primary-100-hsl) / 1);
--primary-100-hsl: 42 calc(var(--saturation-factor, 1) * 5%) 96.8%;

--primary-130: hsl(var(--primary-130-hsl) / 1);
--primary-130-hsl: 42 calc(var(--saturation-factor, 1) * 5.2%) 94.5%;

--primary-160: hsl(var(--primary-160-hsl) / 1);
--primary-160-hsl: 42 calc(var(--saturation-factor, 1) * 5.5%) 92%;

--primary-200: hsl(var(--primary-200-hsl) / 1);
--primary-200-hsl: 42 calc(var(--saturation-factor, 1) * 5.8%) 89%;

--primary-230: hsl(var(--primary-230-hsl) / 1);
--primary-230-hsl: 42 calc(var(--saturation-factor, 1) * 6%) 86%;

--primary-260: hsl(var(--primary-260-hsl) / 1);
--primary-260-hsl: 42 calc(var(--saturation-factor, 1) * 6%) 82.5%;

--primary-300: hsl(var(--primary-300-hsl) / 1);
--primary-300-hsl: 42 calc(var(--saturation-factor, 1) * 5.8%) 77.5%;

--primary-330: hsl(var(--primary-330-hsl) / 1);
--primary-330-hsl: 42 calc(var(--saturation-factor, 1) * 5.5%) 72%;

--primary-345: hsl(var(--primary-345-hsl) / 1);
--primary-345-hsl: 42 calc(var(--saturation-factor, 1) * 5%) 66%;

--primary-360: hsl(var(--primary-360-hsl) / 1);
--primary-360-hsl: 42 calc(var(--saturation-factor, 1) * 4.5%) 60%;

--primary-400: hsl(var(--primary-400-hsl) / 1);
--primary-400-hsl: 42 calc(var(--saturation-factor, 1) * 4%) 52%;

--primary-430: hsl(var(--primary-430-hsl) / 1);
--primary-430-hsl: 42 calc(var(--saturation-factor, 1) * 3.8%) 44%;

--primary-460: hsl(var(--primary-460-hsl) / 1);
--primary-460-hsl: 42 calc(var(--saturation-factor, 1) * 3.5%) 37%;

--primary-500: hsl(var(--primary-500-hsl) / 1);
--primary-500-hsl: 42 calc(var(--saturation-factor, 1) * 3.2%) 31%;

--primary-530: hsl(var(--primary-530-hsl) / 1);
--primary-530-hsl: 42 calc(var(--saturation-factor, 1) * 3%) 26%;

--primary-560: hsl(var(--primary-560-hsl) / 1);
--primary-560-hsl: 42 calc(var(--saturation-factor, 1) * 2.8%) 22%;

--primary-600: hsl(var(--primary-600-hsl) / 1);
--primary-600-hsl: 42 calc(var(--saturation-factor, 1) * 2.6%) 19%;

--primary-630: hsl(var(--primary-630-hsl) / 1);
--primary-630-hsl: 42 calc(var(--saturation-factor, 1) * 2.4%) 16.5%;

--primary-645: hsl(var(--primary-645-hsl) / 1);
--primary-645-hsl: 42 calc(var(--saturation-factor, 1) * 2.2%) 15%;

--primary-660: hsl(var(--primary-660-hsl) / 1);
--primary-660-hsl: 42 calc(var(--saturation-factor, 1) * 2%) 13%;

--primary-700: hsl(var(--primary-700-hsl) / 1);
--primary-700-hsl: 42 calc(var(--saturation-factor, 1) * 1.8%) 11%;

--primary-730: hsl(var(--primary-730-hsl) / 1);
--primary-730-hsl: 42 calc(var(--saturation-factor, 1) * 1.6%) 9.5%;

--primary-760: hsl(var(--primary-760-hsl) / 1);
--primary-760-hsl: 42 calc(var(--saturation-factor, 1) * 1.4%) 8%;

--primary-800: hsl(var(--primary-800-hsl) / 1);
--primary-800-hsl: 42 calc(var(--saturation-factor, 1) * 1.2%) 6.5%;

--primary-830: hsl(var(--primary-830-hsl) / 1);
--primary-830-hsl: 42 calc(var(--saturation-factor, 1) * 1%) 4.5%;

--primary-860: hsl(var(--primary-860-hsl) / 1);
--primary-860-hsl: 42 calc(var(--saturation-factor, 1) * 0.8%) 2.5%;

--primary-900: hsl(var(--primary-900-hsl) / 1);
--primary-900-hsl: 42 calc(var(--saturation-factor, 1) * 0.5%) 1%;
}



/* .sand-paper-style{
--primary-100: hsl(var(--primary-100-hsl) / 1);
--primary-100-hsl: 36 2% 97.5%;

--primary-130: hsl(var(--primary-130-hsl) / 1);
--primary-130-hsl: 36 2.2% 95.4%;

--primary-160: hsl(var(--primary-160-hsl) / 1);
--primary-160-hsl: 36 2.4% 93%;

--primary-200: hsl(var(--primary-200-hsl) / 1);
--primary-200-hsl: 36 2.6% 90%;

--primary-230: hsl(var(--primary-230-hsl) / 1);
--primary-230-hsl: 36 2.8% 87%;

--primary-260: hsl(var(--primary-260-hsl) / 1);
--primary-260-hsl: 36 3% 83.7%;

--primary-300: hsl(var(--primary-300-hsl) / 1);
--primary-300-hsl: 36 3% 78.8%;

--primary-330: hsl(var(--primary-330-hsl) / 1);
--primary-330-hsl: 36 3% 73.3%;

--primary-345: hsl(var(--primary-345-hsl) / 1);
--primary-345-hsl: 36 3% 67.4%;

--primary-360: hsl(var(--primary-360-hsl) / 1);
--primary-360-hsl: 36 3% 61.2%;

--primary-400: hsl(var(--primary-400-hsl) / 1);
--primary-400-hsl: 36 3% 52.9%;

--primary-430: hsl(var(--primary-430-hsl) / 1);
--primary-430-hsl: 36 3% 44.9%;

--primary-460: hsl(var(--primary-460-hsl) / 1);
--primary-460-hsl: 36 2.8% 38%;

--primary-500: hsl(var(--primary-500-hsl) / 1);
--primary-500-hsl: 36 2.6% 32.5%;

--primary-530: hsl(var(--primary-530-hsl) / 1);
--primary-530-hsl: 36 2.4% 27.3%;

--primary-560: hsl(var(--primary-560-hsl) / 1);
--primary-560-hsl: 36 2.2% 23.5%;

--primary-600: hsl(var(--primary-600-hsl) / 1);
--primary-600-hsl: 36 2% 20.6%;

--primary-630: hsl(var(--primary-630-hsl) / 1);
--primary-630-hsl: 36 1.8% 18%;

--primary-645: hsl(var(--primary-645-hsl) / 1);
--primary-645-hsl: 36 1.6% 16.8%;

--primary-660: hsl(var(--primary-660-hsl) / 1);
--primary-660-hsl: 36 1.4% 14.7%;

--primary-700: hsl(var(--primary-700-hsl) / 1);
--primary-700-hsl: 36 1.2% 12.5%;

--primary-730: hsl(var(--primary-730-hsl) / 1);
--primary-730-hsl: 36 1% 11%;

--primary-760: hsl(var(--primary-760-hsl) / 1);
--primary-760-hsl: 36 0.9% 9.2%;

--primary-800: hsl(var(--primary-800-hsl) / 1);
--primary-800-hsl: 36 0.8% 7.3%;

--primary-830: hsl(var(--primary-830-hsl) / 1);
--primary-830-hsl: 36 0.6% 4.9%;

--primary-860: hsl(var(--primary-860-hsl) / 1);
--primary-860-hsl: 36 0.4% 2.5%;

--primary-900: hsl(var(--primary-900-hsl) / 1);
--primary-900-hsl: 36 0.2% 0.8%;
}

.sand-paper-hard-style{
--primary-100: hsl(var(--primary-100-hsl) / 1);
--primary-100-hsl: 42 5% 96.8%;

--primary-130: hsl(var(--primary-130-hsl) / 1);
--primary-130-hsl: 42 5.2% 94.5%;

--primary-160: hsl(var(--primary-160-hsl) / 1);
--primary-160-hsl: 42 5.5% 92%;

--primary-200: hsl(var(--primary-200-hsl) / 1);
--primary-200-hsl: 42 5.8% 89%;

--primary-230: hsl(var(--primary-230-hsl) / 1);
--primary-230-hsl: 42 6% 86%;

--primary-260: hsl(var(--primary-260-hsl) / 1);
--primary-260-hsl: 42 6% 82.5%;

--primary-300: hsl(var(--primary-300-hsl) / 1);
--primary-300-hsl: 42 5.8% 77.5%;

--primary-330: hsl(var(--primary-330-hsl) / 1);
--primary-330-hsl: 42 5.5% 72%;

--primary-345: hsl(var(--primary-345-hsl) / 1);
--primary-345-hsl: 42 5% 66%;

--primary-360: hsl(var(--primary-360-hsl) / 1);
--primary-360-hsl: 42 4.5% 60%;

--primary-400: hsl(var(--primary-400-hsl) / 1);
--primary-400-hsl: 42 4% 52%;

--primary-430: hsl(var(--primary-430-hsl) / 1);
--primary-430-hsl: 42 3.8% 44%;

--primary-460: hsl(var(--primary-460-hsl) / 1);
--primary-460-hsl: 42 3.5% 37%;

--primary-500: hsl(var(--primary-500-hsl) / 1);
--primary-500-hsl: 42 3.2% 31%;

--primary-530: hsl(var(--primary-530-hsl) / 1);
--primary-530-hsl: 42 3% 26%;

--primary-560: hsl(var(--primary-560-hsl) / 1);
--primary-560-hsl: 42 2.8% 22%;

--primary-600: hsl(var(--primary-600-hsl) / 1);
--primary-600-hsl: 42 2.6% 19%;

--primary-630: hsl(var(--primary-630-hsl) / 1);
--primary-630-hsl: 42 2.4% 16.5%;

--primary-645: hsl(var(--primary-645-hsl) / 1);
--primary-645-hsl: 42 2.2% 15%;

--primary-660: hsl(var(--primary-660-hsl) / 1);
--primary-660-hsl: 42 2% 13%;

--primary-700: hsl(var(--primary-700-hsl) / 1);
--primary-700-hsl: 42 1.8% 11%;

--primary-730: hsl(var(--primary-730-hsl) / 1);
--primary-730-hsl: 42 1.6% 9.5%;

--primary-760: hsl(var(--primary-760-hsl) / 1);
--primary-760-hsl: 42 1.4% 8%;

--primary-800: hsl(var(--primary-800-hsl) / 1);
--primary-800-hsl: 42 1.2% 6.5%;

--primary-830: hsl(var(--primary-830-hsl) / 1);
--primary-830-hsl: 42 1% 4.5%;

--primary-860: hsl(var(--primary-860-hsl) / 1);
--primary-860-hsl: 42 0.8% 2.5%;

--primary-900: hsl(var(--primary-900-hsl) / 1);
--primary-900-hsl: 42 0.5% 1%;
} */