a, abbr, acronym, address, applet, big, blockquote, body, button, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, input, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, ul, var {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
*{
    transition: all .7s cubic-bezier(0.19, 1, 0.22, 1);
 }
 /*
:root{
    --scrollbar-width: 12px;
} */
/* --- STYL SCROLLBARA (Chrome, Edge, Safari) --- */
/* Szerokość pionowego scrollbara */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

/* Tło toru scrollbara */
::-webkit-scrollbar-track,
::-webkit-scrollbar-track:horizontal {
    background: transparent;
    border-radius: 8px;
}::-webkit-scrollbar-track{
    margin-top: 8px;
    margin-bottom: 8px;
}

/* Uchwyt scrollbara */
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:horizontal {
    background: hsl(var(--primary-160-hsl)/ 0.6);
    border-radius: 8px;
    border: 2px solid transparent;
    width: 8px;
    background-clip: content-box;
}

/* Uchwyt scrollbara po najechaniu */
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
    background: var(--primary-160, #888888);
}

/* Sam "uchwyt" scrollbara */
::-webkit-scrollbar-thumb {
    min-height: 40px;
    margin-top: 8px;
    margin-bottom: 8px;
}::-webkit-scrollbar-thumb:horizontal{
    min-width: 40px;
    margin-left: 8px;
    margin-right: 8px;
}



/* --- STYL SCROLLBARA (Firefox) --- */
/* Szerokość i kolor scrollbara w Firefox */
/* * {
    scrollbar-width: thin; 
    scrollbar-color: var(--primary-120, #b0b0b0) var(--background-page-primary, #f0f0f0); 
} */

html{
    scroll-behavior: smooth;
    background-color: var(--background-page-primary);
}
body{
    background-color: var(--background-page-primary);
    font-family: "Roboto";
    letter-spacing: 1.2;

}



.theme-light ::selection, .theme-light ::-moz-selection {
    background: var(--primary-900);
    color: var(--primary-160);
    text-shadow: none;
}

.theme-dark ::selection, .theme-dark ::-moz-selection {
    background: var(--primary-160);
    color: var(--primary-900);
    text-shadow: none;
}