a, abbr, acronym, address, applet, big, blockquote, body, button, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, input, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, ul, var {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

*{
    transition: all .7s cubic-bezier(0.19, 1, 0.22, 1);
}
html{
    scroll-behavior: smooth;
    background-color: var(--background-page-primary);
}
body{
    background-color: var(--background-page-primary);
    font-family: "Roboto Flex";
    letter-spacing: 1.2;

}

.theme-light ::selection, .theme-light ::-moz-selection {
    background: #000000;
    color: rgb(255, 255, 255);
    text-shadow: none;
}

.theme-dark ::selection, .theme-dark ::-moz-selection {
    background: #ffffff;
    color: rgb(0, 0, 0);
    text-shadow: none;
}