.footer{
    background-color: var(--primary-900);
    width: var(--deviceWidth);
}

.footerWrapper{
    display: flex;
    flex-direction: column;
}





/* footer last section  */

.footerLastSection{
    background-color: var(--primary-900);
    display: flex;
    justify-content: center;
}
.footerLastSectionWrapper{
    max-width: 1920px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.footerLastSectionContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;

    margin-right: 8px;
    margin-left: 8px;

        letter-spacing: 0.8%;
    
}

.footerLastSectionCopyrightContainer{

}
.footerLastSectionCopyrightText{
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-260);
    text-align: center;


}

.footerLastSectionAuthorContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;

    /* padding-top: 8px; */
}
.footerLastSectionAuthorTeitle{
    font-size: 15px;
    font-weight: 600;
    color: var(--primary-200);

}


.footerLastSectionAuthorDetails{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.footerLastSectionAuthorDetailsSeparator{
    width: 1px;
    height: 14px;
    background-color: var(--primary-260);
}

.footerLastSectionAuthorDetailsLink{
    font-size: 14px;
    font-weight: 400;
    color: var(--brand-330);

    cursor: pointer;

    text-decoration: none;

}